# Dependency directories (remove the comment below to include it)
vendor/

# build output
bin/

# temporary cache
.cache/

# Editor/IDE
.idea/
.vscode/

# OS specific
.DS_Store

# static
ui/static/js/alpine.min.js
ui/static/js/htmx.min.js

# proto
api/gen/

# templ
ui/**/*_templ.go

# tailwindcss
tailwindcss.css

# Taskfile
.task/