package user

import (
	"github.com/soltiHQ/control-plane/internal/uikit/policy"
	"github.com/soltiHQ/control-plane/internal/uikit/routepath"
	"github.com/soltiHQ/control-plane/ui/templates/asset"
	"github.com/soltiHQ/control-plane/ui/templates/component/button"
	"github.com/soltiHQ/control-plane/ui/templates/component/modal"
	"github.com/soltiHQ/control-plane/ui/templates/layout"
	contentUser "github.com/soltiHQ/control-plane/ui/templates/content/user"
)

// Users renders the user list page with optional "Add" button.
templ Users(nav policy.Nav) {
	@layout.ListPage("Users", "users", nav) {
		@layout.ListHeader("Users management") {
			if nav.CanAddUser {
				@button.Button("Add", "button", false, button.VariantPrimary, false,
					templ.Attributes{"x-data": "", "x-on:click": modal.OpenEvent("create-user")},
				) {
					@asset.Icon("add")
				}
			}
		}

		@layout.HTMXLoader("users-list", routepath.ApiUsers, "load", "Loading...")
	}

	if nav.CanAddUser {
		@contentUser.CreateModal()
	}
}
