package home

import (
	"github.com/soltiHQ/control-plane/internal/uikit/policy"
	"github.com/soltiHQ/control-plane/internal/uikit/routepath"
	"github.com/soltiHQ/control-plane/ui/templates/layout"
)

// Home renders the dashboard page.
templ Home(nav policy.Nav) {
	@layout.App("Dashboard", "home", nav) {
		@layout.HTMXLoader("dashboard", routepath.ApiDashboard, "Loading...")
	}
}
