package user

import (
	"github.com/soltiHQ/control-plane/internal/uikit/routepath"
	"github.com/soltiHQ/control-plane/ui/templates/component/modal"
)

// CreateModal wraps modal.Create with user-specific fields.
templ CreateModal() {
	@modal.Create(
		"create-user",
		"Add user",
		routepath.ApiUsers,
		createFields(),
		nil,
	)
}
