@import "tailwindcss";
@config "../../../tailwind.config.cjs";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "Inter";
    src: url("/static/fonts/InterVariable.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("/static/fonts/InterVariable-Italic.woff2") format("woff2");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@layer base {
    :root {
        /* base */
        --bg: 255 255 255;
        --fg: 24 24 27;

        /* surfaces */
        --card: 255 255 255;
        --card-fg: 24 24 27;

        /* muted */
        --muted: 161 161 170;
        --muted-strong: 113 113 122;

        /* borders */
        --border: 228 228 231;
        --border-2: 239 239 241;
        --input-border: 214 214 219;

        /* brand / accents */
        --primary: 59 130 246;
        --primary-bg: 239 246 255;
        --danger: 225 29 72;
        --success: 101 228 180;

        /* nav */
        --nav-link-bg: 244 244 245;
        --nav-link-fg: 63 63 70;

        /* icons */
        --icon: 82 82 91;
        --icon-active: 59 130 246;

        /* radii */
        --r-6: 0.375rem;
        --r-full: 999px;
    }

    .dark {
        --bg: 24 24 27;
        --fg: 239 239 241;

        --card: 31 31 35;
        --card-fg: 239 239 241;

        --muted: 113 113 122;
        --muted-strong: 161 161 170;

        --border: 39 39 42;
        --border-2: 39 39 42;
        --input-border: 255 255 255;

        --primary: 36 115 245;
        --primary-bg: 23 37 84;
        --danger: 251 113 133;

        --nav-link-bg: 39 39 42;
        --nav-link-fg: 244 244 245;

        --icon: 161 161 170;
        --icon-active: 36 115 245;
    }

    html {
        font-family: "Inter";
    }

    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: rgb(var(--bg));
        color: rgb(var(--fg));
    }
}